/************************************************************************************************
CSS
*************************************************************************************************/

h1 {
    color: rgb(255, 0, 136);
}

body {
    background-color: rgb(238, 228, 201);
}

[v-cloak] {
    display: none;
}

.line-through {
    text-decoration: line-through;
}

.done {
    background-color: rgb(188, 148, 169);
}